{% extends "base.html" %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
<style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
body{
    background: linear-gradient(#ffffff,#c5e5f7);
}
.contact-container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #0f12ce;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #0f12ce;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500px;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #1309da;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #4fc6e4,#0c13d8);
    cursor: pointer;
}
.contact-left button img{
    height: 15px;
}
.contact-right img{
    width: 500px;
}

</style>
    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr>
            </div>
            <input type="hidden" name="access_key" value="207c7c9b-d936-4a2e-8afa-86a3eef427b1">
            <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
            <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
            <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
            <button type="submit">Submit <img src="static/images/arrow.png" alt=""></button>
        </form>
        <div class="contact-right">
            <img src=" static/images/contact-image" alt="">
        </div>
    </div>
    
{% endblock %}

